<style>
    .blockDiv {
        display: block;
    }

    .blockDiv embed,
    textarea {
        display: block;
        margin-bottom: 30px;
        width: 50%;
    }

    textarea {
        height: 300px;
    }

    #stop_time:hover {
        cursor: pointer; 
    }
</style>
<script>
    $(function() {
        formSetup();
    });

    $(document).ready(function() {
        var startTime = new Date().getTime(); 

        $('#stop_time').click(function() {
            var stopTime = new Date().getTime(); 
            var time = stopTime-startTime; 
            $('#time').val(time); 

            $('#stop_time').hide();
            $('input[type=submit]').show();  
        }); 
    });

</script>
<form id="form" method="post" action="/brev_answer" enctype="multipart/form-data">

    <div class="blockDiv">
        <embed src="<%= content %>" height="100%">
        <textarea name="<%= 'answer' %>" placeholder="Skriv dit brev her"></textarea>
    </div>
    <input id="time" name="time" value="" hidden>
    <div id="stop_time">Gem</div>

    <input type="submit" hidden>

</form>
